/* ------------------------INDEX PAGE-------------------------- */
.setcenter{
    text-align: center;
    margin-top: 5rem;
}

.top-links{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.item{
    margin-right: 30px;
}

#Front-Box{
    height: 47.5vh;
    width: 49vw;
    margin: auto;
    border: 4px solid black;
}

.Box-item-1{
    height: 22vh;
    width: 17vw;
    margin: 2px;
    /* object-fit: fill; */
    display: inline-block;
    border: 3px solid black;
    overflow: hidden;
}

.Box-item-2{
    height: 22vh;
    width: 30vw;
    margin: 2px;
    display: inline-block;
    border: 3px solid black;
    overflow: hidden;
}

.Box-item-1 img{
    max-width: 100%;
    max-height: 100%;
}

/* ---------------------blog page-------------------------- */

.Blog{
    margin-left: 8%;
    margin-right: 8%;
}

.vv-heading{
    border: 2px solid blue;
    text-align: center;
    font-size: small;
}

.Blog-cards{
    height: 27vh;
    /* border: 2px solid blue; */
    display: flex;
    padding: 3px;
    align-items: center;
    /* justify-content: space-around; */
}

.Blog-cards-item{
    margin-right: 30px;
}

.names{
    height: 4.5vh;
    border-bottom: 3px solid orangered;
}

/* --------------------------TIME TABLE-------------------------- */

.Table-Box{
    height: 60vh;
    width: 80vw;
    margin: auto;
    border: 2px solid black;
}

td{
    text-align: center;
}

.lunch{
    writing-mode: vertical-lr;
}

/* ------------------- */

.mainUl .inner1,
.innerC1,
.inner2,
.innerC2,
.innerC3 {
    display: none;
}

.mainUl li:nth-child(1):hover .inner1 {
    display: block;
}

.mainUl li:nth-child(2):hover .innerC1 {
    display: block;
}

.inner1 li:nth-child(5):hover .inner2 {
    display: block;
}

.innerC1:hover .innerC2 {
    display: block;
}

.innerC2 li:nth-child(3):hover .innerC3 {
    display: block;
}